.container-1{
    display: flex;
    align-items: center;
    width: 100%;

    .content {
        margin-bottom: 50px;
        h1 {
            color: #000000;
        }
    }

    .abt-img{
        flex: 1 1;
        img{
            max-width: 600px;
        }
    }
    .abt-content{
        margin: 0 100px 0 0;
        width: 30%;

        p{
            margin: 20px 0;
            color: #969696;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            max-width: 20rem;
            margin: 0 auto;
        }
        h2{
            text-align: center;
        }
    }
}

.about, .gallery{
    background: url(/public/images/about-bg.png) no-repeat top center;
    animation: bgRotate 50s linear infinite;
}  