$background-gradient-sec1: radial-gradient(29.21% 29.21% at 69.16% 46.42%, #999FB5 0%, #4B4350 65.03%, #2B2833 100%);


#section1 {
    padding: 30px 30px 100px;
    position: relative;
    overflow: hidden;
    background: $background-gradient-sec1;
}

.container {
    display: flex;
    position: relative;
    padding-left: 6rem;
}

@media screen and (max-width: 1140px) {
    .slideshow li div h3 {
        font-size: 100px;
    }
}
@media screen and (max-width: 600px) {
    .slideshow li div h3 {
        font-size: 50px;
    }
}
