$background-gradient-sec2: radial-gradient(48.79% 44.02% at 50.07% 50%, #9697b2 0%, #201d28 100%);
$color1: #c9ac8c;

.classes {
    background: $background-gradient-sec2;
}
.container-2 {
    .align {
        text-align: center;
        text-align: -webkit-center;
        color: #ffffff;
        position: relative;
        h1 {
            margin: 10px auto;
            max-width: fit-content;
        }
        h3 {
            font-weight: 300;
            font-size: 30px;
            margin-left: 33px;
            max-width: fit-content;
            margin: 0 auto;
            text-align: left;
        }
        &.video-align {
            color: #000;
        }
        h3 {
            font-size: 28px;
        }
    }
    .img-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        margin-top: 70px;
        img {
            max-width: 600px;
            border-radius: 10px;
        }
        .tab-content {
            & > div {
                position: relative;
                width: fit-content;
                margin: 0 auto;
                a {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(0, 0, 0, 85%);
                    border-radius: 10px;
                    text-decoration: none;
                    color: white;
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition:
                        visibility 0.2s,
                        opacity 0.2s linear;
                    transition:
                        visibility 0.2s,
                        opacity 0.2s linear;
                }
                &:hover {
                    a {
                        padding: 8px 15px;
                        visibility: visible;
                        opacity: 1;
                        max-width: 80%;
                    }
                }
            }
        }

        .tab-buttons {
            margin-bottom: 80px;

            button {
                color: #c9ac8c;
                cursor: pointer;
                font-size: 25px;
                font-weight: 600;
                padding: 10px 20px;
                background: transparent;
                margin: 0 30px;
                border: 2px solid #fff;
                border-radius: 10px;
                transition: 0.5s ease;
                position: relative;
                z-index: 1;
                overflow: hidden;

                &::before,
                &::after {
                    content: "";
                    height: 100%;
                    width: 100%;
                    transform: skew(90deg) translate(-50%, -50%);
                    position: absolute;
                    inset: 50%;
                    left: 25%;
                    z-index: -1;
                    transition: 0.5s ease-out;
                    background-color: #c9ac8c;
                }

                &::before {
                    top: -50%;
                    left: -25%;
                    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
                }

                &:hover::before {
                    display: block;
                    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
                }

                &:hover::after {
                    display: block;
                    transform: skew(45deg) translate(-50%, -50%);
                }

                &:hover {
                    color: #fff;
                    border-color: $color1;
                }

                &.active {
                    border-color: #c9ac8c;
                    color: #fff;
                    background: repeating-linear-gradient(
                        135deg,
                        #c9ac8c,
                        #c9ac8c 23%,
                        #fff 23%,
                        rgba(201, 172, 140, 0.867) 27%,
                        #c9ac8c 27%,
                        #c9ac8c 28%,
                        rgba(201, 172, 140, 0.867) 28%,
                        rgba(238, 204, 167, 0.867) 30%
                    );
                    background-size: 40rem 40rem;
                    animation: linear-reverse 5s ease-out infinite;
                }
            }
        }
    }
}

@keyframes linear-reverse {
    0% {
        background-position: 80% 0;
    }

    30% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 0;
    }
}
