.aboutPage {
  background: linear-gradient(130deg, #201d28 50%, #9697b2 80%);
  padding: 50px;

  p {
    max-width: 38%;
    margin: 20px auto;
  }
  .container-5{
    min-height: 100% !important;
    .about-content {
      gap: 20px;
      &:first-child {
        margin-bottom: 5rem;
      }

      .aboutImage {
        background: url(/images/photoshoot/PS-36.jpg) no-repeat center;
        background-size: cover;
        border-radius: 0;
        min-height: 30rem;
        
      }
      .aboutImage1 {
        background-image: url(/images/photoshoot/PS-39.jpg);
      }
      p {
        color: #fff;
        max-width: 500px;
        text-align: left;
        margin: 0 20px;
        line-height: 1.5;
      }
    }
  }
}
