@import "./home/section1";
@import "./home/section2";
@import "./home/section3";
@import "./home/section4";

@media only screen and (min-width: 1600px) and (max-width: 2600px) {
    .about::before,
    .gallery::before {
        width: 2600px;
        height: 2600px;
    }
}
@media only screen and (max-width: 1199px) {
    .container,
    .container-1,
    .container-2,
    .container-3,
    .container-6 {
        gap: 20px;
        h1 {
            font-size: 40px;
        }
        .align {
            h1 {
                font-size: 40px;
            }
            h3 {
                font-size: 30px;
            }
        }
    }

    .about::before,
    .gallery::before {
        width: 1250px;
        height: 1250px;
    }

    // section
    section {
        padding-bottom: 50px;
    }

    //section1
    #section1 {
        .content {
            h1 {
                font-size: 40px;
                padding: 0;
                max-width: 300px;
            }
        }
        .img-section {
            img {
                width: 600px;
            }
        }
    }
    // section2
    .container-1 {
        .abt-content {
            margin: 0 20px 0 0;
            width: 50%;
        }
    }
    // section3
    .container-2 {
        .img-content {
            img {
                max-width: 500px;
            }
        }
    }
    //section4
    .container-3 {
        .video-content {
            .video-box {
                iframe {
                    width: 280px;
                    height: 200px;
                }
            }
        }
    }
    .video-wrap {
        .videos {
            top: -120px;
            img {
                max-width: 160px;
            }
        }
    }

    .slider {
        .slider-track {
            img {
                width: 230px;
            }
        }
    }

    .home-contact .contact .container-5 {
        margin: 4rem auto;
    }

    footer {
        .container-6 {
            .logo {
                h2 {
                    font-size: 18px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }

    // ABOUT PAGE
    .contact,
    .aboutPage {
        p {
            margin: 0;
            max-width: 100%;
        }
        .container-5 {
            .contact-form {
                gap: 20px;
            }
            .about-content {
                .aboutImage {
                    background-size: contain;
                    min-height: 20rem;
                }
                & > div {
                    width: 100%;
                }
                p {
                    margin: 10px 0;
                }
            }
        }
    }

    // PLAYLIST PAGE
    .playlistPage {
        h1 {
            padding-left: 0;
        }
        p {
            margin: 0;
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 1023px) {
    .container,
    .container-2,
    .container-3 {
        flex-direction: column;
    }
    //section
    section {
        background: radial-gradient(35.21% 30.21% at 50% 50%, #999fb5 0%, #4b4350 65.03%, #2b2833 100%);
        padding: 50px 20px;

        .container {
            gap: 50px;
        }
        .explore {
            margin-top: 0;
        }
    }
    // section1
    #section1 {
        background: radial-gradient(25% 26.21% at 64% 50%, #999fb5 0%, #4b4350 65.03%, #2b2833 100%);
        .content {
            h1 {
                font-size: 35px;
            }
        }
        .img-section {
            img {
                max-width: 460px;
            }
        }
    }
    //section2
    .container-1 {
        gap: 30px;
        .abt-img {
            img {
                max-width: 400px;
            }
        }
        .abt-content {
            .sec_2_3rd_para {
                display: none;
            }
        }
    }
    //section3
    .container-2 {
        .align {
            h3 {
                &::after {
                    right: 32%;
                }
            }
        }
        .img-content {
            min-height: 100%;
        }
    }
    //section4
    .container-3 {
        margin-bottom: 12rem;
        .align {
            h3 {
                color: #000;
            }
        }
        .video-content {
            .video-box {
                iframe {
                    width: 220px;
                    height: 150px;
                }
            }
        }
    }

    .home-contact {
        .contact {
            .container-5 {
                .contact-form {
                    .btn {
                        padding: 0.5rem;
                    }
                }
            }
        }
    }

    footer {
        .container-6 {
            gap: 20px;

            .logo {
                h2 {
                    font-size: 18px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }

    .contact,
    .aboutPage,
    .playlistPage,
    .gallery {
        h1 {
            font-size: 40px;
        }
        span {
            margin: 0;
        }
        p {
            margin: 0;
            max-width: 100%;
            margin-bottom: 50px;
        }
        h3,
        p {
            color: #fff;
        }
        .container-5 {
            margin: 1rem auto !important;
            .contact-form {
                grid-template-columns: repeat(2, 1fr);

                input,
                textarea {
                    width: 100%;
                }
            }
            .about-content {
                grid-template-columns: repeat(1, 1fr);
                &:first-child {
                    margin-bottom: 0;
                }
                .aboutImage {
                    background-size: contain;
                    min-height: 20rem;
                    &:last-child {
                        display: none;
                    }
                }
                p {
                    margin: 10px 0;
                    max-width: 100%;
                }
            }
        }
    }

    // Gallery Page
    .galleryPages {
        .gallery-flex {
            gap: 3rem;

            & > div {
                li {
                    font-size: 18px;
                    padding: 0 0 15px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .container,
    .container-1,
    .container-2,
    .container-3 {
        flex-direction: column;
        h1 {
            font-size: 40px;
        }
        .align {
            h1 {
                font-size: 40px;
                padding: 0;
            }
            h3 {
                font-size: 24px;
            }
        }
    }
    // section1
    #section1.home {
        background: radial-gradient(35.21% 30.21% at 50% 68%, #999fb5 0%, #4b4350 65.03%, #2b2833 100%);
        padding: 50px 20px;
        flex-direction: column;
        .content {
            h1 {
                padding: 0;
                font-size: 38px;
            }
        }

        .img-section {
            img {
                width: 520px;
            }
        }
    }

    //section2
    .container-1 {
        .abt-content {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            h1 {
                text-align: center;
            }
        }
        .abt-img {
            img {
                max-width: 400px;
            }
        }
    }
    //section3
    .container-2 {
        .img-content {
            margin-top: 40px;
            img {
                max-width: 300px;
            }

            .tab-buttons {
                margin-bottom: 30px;
                button {
                    margin: 10px;
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
    }

    //section4
    .container-2 .video-content {
        flex-direction: column;
    }
    .container-3 {
        .video-content {
            .video-box {
                iframe {
                    width: 300px;
                    height: 180px;
                }
            }
        }
    }
    .home-contact .contact {
        padding-top: 14rem;
    }
    // Gallery Page
    .galleryPages {
        span {
            font-size: 3rem;

            &::before,
            &::after {
                bottom: 30px;
            }
        }
        .gallery-flex {
            flex-direction: column;
            align-items: center;

            & > div {
                max-width: 250px;

                li {
                    font-size: 18px;
                }
            }
        }
        .event-flex {
            & > div {
                max-width: 300px;
                margin-left: 40px;
            }
        }
    }

    footer {
        padding: 1rem 20px;
        .container-6 {
            max-width: calc(100% - 50px);
            margin: 0 auto;
            justify-items: flex-start;
        }
        .copyright {
            p {
                margin: 5px 0;
                text-align: center;
            }
        }
    }

    // ABOUT PAGE
    .contact,
    .aboutPage,
    .playlistPage,
    .gallery {
        padding: 20px;
        .container-5 {
            .contact-form {
                grid-template-columns: repeat(1, 1fr);

                input,
                text-area {
                    width: 21rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 424px) {
    .container,
    .container-1,
    .container-2,
    .container-3 {
        h1 {
            font-size: 35px;
        }
        .align {
            h1 {
                font-size: 35px;
            }
            h3 {
                font-size: 20px;
            }
        }
    }

    .container-2 {
        .img-content {
            .tab-buttons button {
                font-size: 16px;
                margin: 0 10px 0 0;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .home-contact .contact {
        padding-top: 10rem;
    }

    footer {
        .container-6 {
            max-width: 100%;
            .logo {
                max-width: 280px;
            }
        }
    }

    .galleryPages {
        .gallery-flex {
            margin: 2rem auto;
        }
    }

    .contact,
    .aboutPage,
    .playlistPage,
    .gallery {
        padding: 20px;
        h1 {
            font-size: 25px;
        }
        .container-5 {
            .contact-form {
                grid-template-columns: repeat(1, 1fr);

                input,
                text-area {
                    width: 17rem;
                }
            }
        }
    }
}
