$background-gradient-sec2: radial-gradient(48.79% 44.02% at 50.07% 50%, #9697b2 0%, #201d28 100%);
$font-1: "Poppins", sans-serif;
$font-2: "Allura", cursive;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-1;
    background-color: #fcfcfc;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#root {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-height: 100vh;
}

.no-scroll {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-weight: 200;
}
h1 {
    font-weight: 500;
}
a {
    cursor: pointer;
}

.space-between {
    justify-content: space-between;
}

.container,
.container-1,
.container-2,
.container-3,
.container-6 {
    .align {
    h3 {
        font-family: $font-2;
        font-size: 28px;
    }
    }
}

section {
    background: radial-gradient(29.21% 29.21% at 69.16% 46.42%, #999fb5 0%, #4b4350 65.03%, #2b2833 100%);
    padding: 50px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .explore {
        color: #d2ae78;
        text-decoration: none;
        margin-top: 30px;
        max-width: fit-content;
        margin: 0 auto;
        text-decoration: none;
        padding: 5px 0;
        border-radius: 2px;
        // background: linear-gradient(90deg, #999fb5 0%, #4b4350 65.03%, #2b2833 100%)
        //     no-repeat left bottom;
        // background-size: 0% 3px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 2.4px;
            border-radius: 10px;
            background: #d2ae78;
            bottom: 0;
            left: 0;
            transition: 300ms ease;
        }

        &:hover {
            &::before {
                background: #2b2833;
            }
        }
    }
}

h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.home-contact {
    .contact {
        background: $background-gradient-sec2;
        padding-top: 18rem;

        .container-5 {
            margin: 4rem auto;
        }
    }
}

// Page Loader
.home.loader {
    background: #2b2833;
}
.loader {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & > div {
        z-index: 99;
        width: 100px;
        height: 100px;
        border: 3px solid #c9ac8c;
        border-radius: 50%;

        animation: loading 7s ease-in-out;
        animation-iteration-count: infinite;
        transition-duration: 0.1s;

        &:hover {
            scale: 0.95;
        }

        &:active {
            scale: 2.5;
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
        border-bottom: solid 3px transparent;
        border-top: solid 3px transparent;
    }
    50% {
        transform: rotate(1800deg);
        border-left: solid 3px transparent;
        border-right: solid 3px transparent;
        scale: 2;
    }
    100% {
        /*Reversed spinning*/
        transform: rotate(0deg);
        border-bottom: solid 3px transparent;
        border-top: solid 3px transparent;
    }
}

//contact Page

.contactPage {
    .animate__animated {
        animation: none !important;
        opacity: 1 !important;
    }
}
